[submodule "week6/Code Review of LOS Visitor Data/hawaii-tourism-los-calculator-fork"]
	path = week6/Code Review of LOS Visitor Data/hawaii-tourism-los-calculator-fork
	url = https://github.com/Kbeam-jpg/hawaii-tourism-los-calculator-fork.git