/*
|grid|
  left |flex|
    -img1
    -img2
  right |flex|
    -title |flex|
      --My
      --Portfolio
    -footer =flex=
      --name
      --text 
_____________________
|  <img>  |MY       |
|_________|PORTFOLIO|
|  <img>  |__________
|_________|name|text|

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  background-color: efefef;
  color: #111;
  font-family: 'Bodoni Moda', serif;
  height: 100vh;
  
  align-items: center;
  justify-content: center;
}

/* |grid|, 90%w,90%h, 1row/2col  */
.main-grid-container{
  display: grid;
  width: 90vw; /*90% screen*/
  height: 90vh; /*90% screen*/
  grid-template-columns: 1fr 1.2fr; /* right col like 20% larger*/
  gap: 40px;
}

/* |flex|, clamp height */
.left-flex-column { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}
/* ai was used for the image wrappers because I had no clue how to fix the images being so big without hardcoding the source link*/
.image-wrapper {
  flex: 1;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.image-wrapper:hover img {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

/* |flex| */
.right-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

/*"My |flex|
   Portfolio"*/
.title {
  display: flex;
  flex-direction: column;
  font-size: clamp(4rem, 9vw, 11rem); /* */
  font-weight: 400;
  line-height: 0.85; /* tight, but not too tight*/
  letter-spacing: -0.05em; /*little smaller than element font size*/
  text-transform: uppercase;
}
.line-1 {
  display: block;
}
.line-2 {
  display: block;
}

/* =flex= */
.footer-flex-row { 
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-right: 40px;
}
.name {
  font-size: 1.2rem;
  color: #333; /*contrast w/ black*/
}
.tag {
  font-family: Tahoma, sans-serif;
  font-weight: 600;
  font-size: .8rem; /* like 20% smaller */
  text-transform: uppercase;
  color: #000; /*black*/
}

/*
  to do:
    - stack images above for mobile?
      - or just thin screens in general
*/
@media (max-width: 650px) {
  
  body{
    height: auto;
    padding: 30px;
    overflow: auto;
  }
  
  /*make flex column if too thin*/
  .main-grid-container{
    display: flex;
    flex-direction: column; /*column-reverse if photos on bottom*/
    height: auto;
    gap: 30px;
  }
}