MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxx.mongodb.net/ics385
PORT=3000

VITE_WEATHER_KEY= ** for vite ** from openweather.com
FRONTEND_URL= ** for vite, set to http://localhost:5173, for preview set to http://localhost:4173**

GOOGLE_CLIENT_ID= (from google cloud console)
GOOGLE_CLIENT_SECRET= (from google cloud console)
SESSION_SECRET= (32 bit random string, or just something random)